<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
      

      
        {% block stylesheets %}
        <script src="{{ asset('assets/plugins/chart.js/Chart.bundle.min.js')}}"></script>
         <script src="{{ asset('assets/plugins/jquery/jquery.min.js')}}"></script>
        


        <link rel="icon" type="image/png" sizes="16x16" href="{{asset('assets/images/ld.png') }}">
        <!-- Custom Stylesheet -->
        <link href=" {{asset('assets/css/style.css') }} " rel="stylesheet">

        {% endblock %}

       
    </head>
    <body>
    {{include('includes/header.html.twig') }}
        {% block body %}
        
        {% endblock %}
     {% block javascripts %}
    <script src=" {{ asset('assets/plugins/common/common.min.js')}}"></script>
    
    <script src=" {{ asset('assets/js/custom.min.js')}}"></script>
    <script src="{{ asset('assets/js/settings.js ')}}"></script>
    <script src=" {{ asset('assets/js/gleek.js')}}"></script>
    <script src="{{ asset('assets/js/styleSwitcher.js')}}"></script>
 
        {% endblock %}
    </body>
</html>
